/* ===== Custom font ===== */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .logo-img{
        @apply h-[46px] w-[138px] cursor-pointer bg-[url('/Assets/logo.webp')] bg-no-repeat bg-cover dark:bg-[url('/Assets/logo-white.webp')]
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .card{
        @apply bg-[#2D3142] p-4 rounded-xl self-stretch hover:scale-105 hover:shadow-lg hover:-translate-y-4 transition-all duration-200
    }

    .btn{
        @apply text-red-500 font-bold border-2 w-fit border-red-500 rounded-full py-2 px-8 cursor-pointer flex items-center hover:scale-105 transition-all 
    }

    .btn:hover .icon{
        display: block;
        animation:  a-1 0.3s linear;
    }
    @keyframes a-1{
        0%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(12px);
        }
    }

    .icon-clr{
        animation: clr 3s ease-in infinite;
    }
    @keyframes clr{
        20%{
            fill: #00FF84;
            transform: scale(1.4);
        }
        50%{
            fill: #ef4444;
        }
    }
}